.aboutUsContainer {
  text-align: justify;
  margin: 0 400px 0 400px;
}

.imageContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsImage {
  border: 2px solid black;
  margin: 30px;
}

h6 {
  margin-top: 40px;
  letter-spacing: 0.03em;
  font-family: sans-serif;
  font-weight: 600;
}

p {
  letter-spacing: 0.01em;
}

.subText {
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.04em;
}
