.articleCards {
  max-width: 100%;
  text-align: center;
  border: none;
  box-shadow: none !important;
  cursor: pointer;
}

.articleCards:hover .cardImage {
  transform: scale(1.05); /* Zoom in */
  transition: transform 0.7s ease; /* Smooth transition */
}

.articleCards:hover .cardTitle {
  text-decoration: underline;
}

.cardTitle {
  font-size: 30px !important;
}
