.carousels {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.homeDiv {
  margin: 50px 70px 50px 70px;
}

.posterContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.posterImage {
  border: 2px solid black;
  margin: 30px 80px 30px 80px;
  width: 420px;
  height: 530px;
}

.posterText {
  margin: 25px 0 0 50px;
  max-width: 500px;
  word-wrap: break-word;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posterTitle {
  font-size: 55px !important;
}

.basketBtn {
  text-transform: capitalize !important;
  color: black !important;
  border-radius: 0 !important;
  border-color: black !important;
  margin: 30px 0 10px 0 !important;
  padding: 10px 0 !important;
}

.basketBtn:hover {
  outline: 2px solid black !important;
}

.buyBtn {
  text-transform: capitalize !important;
  color: white !important;
  background-color: black !important;
  border-radius: 0 !important;
  border-color: black !important;
  margin: 0 0 10px 0 !important;
  padding: 10px 0 !important;
}

.buyBtn:hover {
  outline: 3px solid black !important;
}
