.carousels {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.homeWrapper {
  margin: 50px 70px 50px 70px;
}

.posterContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.posterImage {
  border: 2px solid black;
  margin: 30px 80px 30px 80px;
  width: 420px;
  height: 530px;
}

.posterText {
  margin: 25px 0 0 50px;
  max-width: 500px;
  word-wrap: break-word;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posterTitle {
  font-size: 55px !important;
}

.viewAllWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}

.viewAllBtn {
  color: white;
  background-color: black;
  padding: 10px 30px 10px 30px;
  border: none;
  outline: none;
  box-shadow: none;
}

.viewAllBtn:hover {
  outline: 1px solid black !important;
}
