.articleCard {
  max-width: 100%;
  text-align: center;
  border: none;
  box-shadow: none !important;
  cursor: pointer;
}

.articleCard:hover {
  cursor: pointer;
}

.articleCard:hover .cardImage {
  transform: scale(1.05);
  /* Zoom in */
  transition: transform 0.7s ease;
  /* Smooth transition */
}

.cardTitle {
  margin-bottom: 3px !important;
}

.articleCard:hover .cardTitle {
  text-decoration: underline;
}

.homeCardTitle {
  margin-bottom: 10px !important;
}

.articleCard:hover .homeCardTitle {
  text-decoration: underline;
}

/* .articleCard:hover .articleCardImage {
  transform: scale(1.05);
  transition: transform 0.7s ease;
} */

/* .articleCard:hover .MuiTypography-subtitle1 {
  text-decoration: underline;
} */

/* .articleCardImage {
  height: 100%;
  object-fit: contain;
} */