/* DescriptionBox.css */
.feedbackBox {
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 28px;
  border-radius: 0px;
  min-width: 450px;
  max-width: 450px;
  /* 350 */
  min-height: 320px;
  max-height: 320px;
  /* 380 */
  margin: auto;
}

@media (max-width: 1300px) {
  .feedbackBox {
    min-width: 360px;
    max-width: 360px;
    min-height: 380px;
    max-height: 380px;
  }
}