.footerContainer {
  display: flex;
  padding: 20px 5%;
}

.left,
.right {
  flex: 1;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

a:hover {
  text-decoration-thickness: 2px;
}

.socialMedias {
  display: flex;
}

.socialMedias input {
  padding: 10px;
}

.socialMedias button {
  background-color: white;
  color: black;
  border: 10px black;
  cursor: pointer;
}

.rightIcon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.socialMedias .right a {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: inline-block; /* ensure it's treated as a box for transform */
  transition: transform 0.2s ease;
  transform-origin: right center; /* optional, default is center */
}

.socialMedias .right a:hover {
  transform: scale(1.2);
}

.footerLinkContainer {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 3px; 
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

.footerLinkText {
  color: grey;
  text-decoration: none;
}

.footerLinkText:hover {
  font-weight: 400;
  text-decoration-thickness: 0.5px;
}
