.footerContainer {
  display: flex;
  padding: 20px 5%;
}

.leftSection,
.rightSection {
  flex: 1;
}

.footerLink {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.footerLink:hover {
  color: black;
  text-decoration-thickness: 2px;
}

.socialMedias {
  display: flex;
  align-items: center; /* Ensures both children match in height */
  justify-content: space-between;
}

.socialMedias .leftSection {
  display: flex;
  align-items: center; /* Ensures both children match in height */
}

.leftSection .emailInputWrapper {
  padding-top: 5px;
}

.socialMedias .rightSection {
  display: flex;
  align-items: center; /* Ensures both children match in height */
  padding-top: 20px;
}

.socialMedias button {
  background-color: white;
  color: black;
  border: 10px black;
  cursor: pointer;
}

.emailInputWrapper {
  position: relative;
  width: 400px;
}

.emailInputWrapper input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  font-size: 16px;
  border: 1px solid #888;
  box-sizing: border-box;
}

.emailInputWrapper input:hover {
  outline: 1px solid #888;
}

.emailInputWrapper button {
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
}

.footerButton {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.footerButton:hover {
  color: black;
  text-decoration-thickness: 2px;
}

.footerIcon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.socialMedias .rightSection .footerButton {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
  /* ensure it's treated as a box for transform */
  transition: transform 0.2s ease;
  transform-origin: right center;
  /* optional, default is center */
}

.socialMedias .rightSection .footerButton:hover {
  transform: scale(1.2);
}

.footerLinkContainer {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

.footerLinkText {
  color: grey;
  text-decoration: none;
}

.footerLinkText:hover {
  font-weight: 400;
  text-decoration-thickness: 0.5px;
}