.navbarWrapper {
  position: static;
  width: 100%;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 25px 5%;
  transition: transform 0.3s ease;
}

/* .navbarWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 25px 5%;
  transform: translateY(0);
  z-index: 10;
  overflow: hidden;
}

.navbarWrapper::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: -1; 
}

.navbarWrapper:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.navbarWrapper.hidden {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbarWrapper.visible {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
} */

.navbarWrapper.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  transform: translateY(0%);
}

.navbarLists {
  list-style: none;
  color: gray;
  background-color: white;
  display: flex;
  margin: 0 0 0 30px;
}

.navbarLists li {
  margin-right: 20px;
}

.navbarLists li a {
  color: inherit;
  margin-right: 10px;
}

.navbarLists li:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.navbarLinkActive {
  color: black;
  text-decoration: underline;
}

.navbarLists .navbarLinkActive:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navbarLinkIcon {
  margin-left: 8px;
  margin-bottom: 3px;
}

.dropdown {
  cursor: pointer;
}

.dropdown:hover {
  text-decoration: underline;
}

.dropdownOpen {
  text-decoration: underline;
  text-decoration-color: black;
}

.dropdown.dropdownOpen:hover {
  text-decoration-thickness: 2px;
}

.dropdownMenu {
  position: absolute;
  width: auto;
  top: 100%;
  left: 0;
  background-color: white;
  border: 2px solid black;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 5px 0;
  display: block;
  z-index: 1000;
  white-space: nowrap;
}

.dropdownMenu li {
  padding: 8px 20px;
}

.dropdownMenu li:hover a {
  color: black;
  text-decoration: underline;
}

.dropdownMenu li a {
  color: grey;
  text-decoration: none;
}

.navbarButtons {
  margin-left: auto;
}

.navbarButton {
  color: black;
  border: none;
  background-color: inherit;
  margin-left: 25px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0;
}

.navbarButton:hover {
  color: black;
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.navbarIcon {
  width: 20px;
  height: 20px;
}

.navbarUserIcon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 2px;
}
