.navbarWrapper {
  /*   
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px 5%;
  margin-bottom: 25px; 
*/

  position: static;
  width: 100%;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px 5%;
  transition: transform 0.3s ease;
}

.navbarWrapper.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  /* optional */
  transition: all 0.3s ease;
  transform: translateY(0%);
}

.navbarListPage {
  background-color: white;
  margin: auto;
  padding: 10px 30px;
  display: flex;
  list-style: none;
}

.navbarLink {
  margin-right: 20px;
}

.navbarLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbarLink.navbarLinkActive {
  text-decoration: underline;
}

.navbarLink a {
  color: black;
  margin-right: 10px;
}

.navbarLink a:hover {
  color: black;
}

.navbarLinkIcon {
  margin-left: 8px;
  margin-bottom: 3px;
}

.navbarButtons {
  justify-self: end;
}

.navbarButton {
  color: black;
  border: none;
  background-color: inherit;
  margin-left: 25px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0;
}

.navbarButton:hover {
  color: black;
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.navbarIcon {
  width: 20px;
  height: 20px;
}

.userIcon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 2px;
}

.dropdown {
  cursor: pointer;
}

.dropdown:hover {
  text-decoration: underline;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: block;
  z-index: 1000;
  width: auto;
  white-space: nowrap;
}

.dropdownMenu li {
  padding: 8px 20px;
}

.dropdownMenu li a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
}

.dropdownMenu li a:hover {
  color: black;
  text-decoration: underline;
  font-weight: normal;
}
